.selected {
  padding-left: 10px;
  background-color: #b78000;
}
.students {
  padding: 10px 15px;
  list-style: none;
  cursor: pointer;
  display: inline-block;
}
.students li{
  transition: 0.4s ease;
  padding: 2px 10px;
  border-radius: 5px;
  border: 0.3px solid transparent;
}
.students li.selected:hover {
  background-color: #b78000;
  border: 0.3px solid black;
}
.students li.selected {
  border-bottom: 0.6px solid black;
  border-radius: 0px;
}
.students li:hover {
  background-color: #b78000;
  border: 0.3px solid black;
}

.allIn{
  background: #d39400;
  border-top: 0.6px solid black;
  border-bottom: 0.6px solid black;
}
